# everything
*

# except: files
!.gitignore
!*.css
!*.html
!*.md
!*.png
!*.py
!AUTHORS

# except: directories
!img
!models
!models/engine
!tests
!tests/test_models
!tests/test_models/test_engine
!web_static
!web_static/images
!web_static/styles
